body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}




.search {
  width: 20%;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}


.pagination{
  padding: 16px 16px;
}

.pagination button{
  color: black;
  border: 0;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination .active {
  background-color: #4CAF50;
  color: white;
}