body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.search {
  width: 200px;
  float: right;
  padding: 10px
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  font-size:14px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.itemTypeButton {
  background-color:#67c0e0;
	border-radius:4px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:10px 20px;
	text-decoration:none;
}
.activeItemType {
	background-color:#38a6b5;
}
.itemTypeButton:hover {
	background-color:#38a6b5;
}
.itemTypeButton:active {
	position:relative;
	top:1px;
}
.itemTypeButton:focus { 
  border:1px solid #000000;
  outline: none;
}



.pagination {
  display: inline-block;
  margin-right: 0px;
  padding: 10px;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  color:#ffffff;
  background-color:#67c0e0;
  font-size:14px;
  border:0px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination button:hover:not(.active) {
  background-color: #38a6b5;
}