body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}






.pagination{
  padding: 16px 16px;
}

.pagination button{
  color: black;
  border: 0;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination .active {
  background-color: #4CAF50;
  color: white;
}